@use "node_modules/@bbva-web-components/bbva-foundations-sass/main" as *;

:host {
  display: block;
  box-sizing: border-box;
  --bg-color-component: #072146;
  --bg-form: rgba(0, 0, 0, 0.2);
 }
  
 :host([hidden]),
 [hidden] {
  display: none !important;
 }
  
 *,
 *:before,
 *:after {
  box-sizing: inherit;
 }


 .login-container {
  background-color: var(--bg-color-component);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

    &__form {
      width: 350px;
      background-color: var(--bg-form);
      padding: 15px 20px;
      color: white;
      box-shadow: 10px -10px #006C6C;

      h2 {
        margin: 0;
        font-weight: lighter;
        font-size: 1.2em;
        text-align: center;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      }

      .form-body {
        padding: 15px 0 10px 0;
      }
       
      bbva-web-form-select,
      bbva-web-form-password,
      bbva-web-form-text {
        margin-bottom: 10px;
      }

      bbva-web-button-default {
        --_bg-color: #006C6C;
        --_ripple-color: #028484;
        width: 100%;
      }

    }

    @media screen and (max-width: 320px){
      &__form {
        width: 88%;
        box-shadow: 5px -5px #006C6C;
        padding-bottom: 5px;
      }
    }

 }

 